In [48]:
import pandas as pd
import numpy as np

In [49]:
df= pd.read_csv(r'../../data/enhanced_hotels_dataset.csv')

In [50]:
df.head()

,Country,City/Place,Hotel Name,Stars,Rating,Number of Reviews,Property Type,Location,Distance from Center,Avg Price per Night (USD),Currency,Amenities,Scraped Date
0,India,Delhi,Hotel Royal Palace A Unit Of Broadway Hotel,4.0,Scored,NaN,NaN,"Mahipalpur, New Delhi",12.9 km from downtown,18.0,USD,NaN,2025-07-18 18:56:04
1,India,Delhi,ibis New Delhi Aerocity - An Accor Brand,4.0,Scored,NaN,NaN,"Aerocity, New Delhi (Aerocity)",13.4 km from downtown,111.0,USD,NaN,2025-07-18 18:56:04
2,India,Delhi,The Viking - Luxury living steps away from New...,4.0,Scored,NaN,NaN,"Paharganj, New Delhi (Chandni Chowk)",1.4 km from downtown,42.0,USD,NaN,2025-07-18 18:56:05
3,India,Delhi,The Leela Ambience Convention Hotel Delhi,5.0,Scored,NaN,NaN,New Delhi,8.3 km from downtown,183.0,USD,NaN,2025-07-18 18:56:05
4,India,Delhi,Le Meridien New Delhi,5.0,Scored,NaN,NaN,New Delhi,1.8 km from downtown,254.0,USD,NaN,2025-07-18 18:56:05

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8376 entries, 0 to 8375
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    8376 non-null   object
 1   City/Place                 8376 non-null   object
 2   Hotel Name                 8376 non-null   object
 3   Stars                      6795 non-null   float64
 4   Rating                     7924 non-null   object
 5   Number of Reviews          0 non-null      float64
 6   Property Type              0 non-null      float64
 7   Location                   8376 non-null   object
 8   Distance from Center       8006 non-null   object
 9   Avg Price per Night (USD)  8371 non-null   float64
 10  Currency                   8376 non-null   object
 11  Amenities                  0 non-null      float64
 12  Scraped Date               8376 non-null   object
dtypes: float64(5), object(8)
memory usage: 850.8+ KB

In [52]:
df.drop(columns=['Property Type'], inplace=True)

In [53]:
# Drop completely useless column
df.drop(columns=['Amenities'], inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8376 entries, 0 to 8375
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    8376 non-null   object
 1   City/Place                 8376 non-null   object
 2   Hotel Name                 8376 non-null   object
 3   Stars                      6795 non-null   float64
 4   Rating                     7924 non-null   object
 5   Number of Reviews          0 non-null      float64
 6   Location                   8376 non-null   object
 7   Distance from Center       8006 non-null   object
 8   Avg Price per Night (USD)  8371 non-null   float64
 9   Currency                   8376 non-null   object
 10  Scraped Date               8376 non-null   object
dtypes: float64(3), object(8)
memory usage: 719.9+ KB

In [55]:
df.drop(columns=['Number of Reviews'], inplace=True)
df.drop(columns=['Rating'], inplace=True)
df.drop(columns=['Scraped Date'], inplace=True)

In [56]:
df.head()

,Country,City/Place,Hotel Name,Stars,Location,Distance from Center,Avg Price per Night (USD),Currency
0,India,Delhi,Hotel Royal Palace A Unit Of Broadway Hotel,4.0,"Mahipalpur, New Delhi",12.9 km from downtown,18.0,USD
1,India,Delhi,ibis New Delhi Aerocity - An Accor Brand,4.0,"Aerocity, New Delhi (Aerocity)",13.4 km from downtown,111.0,USD
2,India,Delhi,The Viking - Luxury living steps away from New...,4.0,"Paharganj, New Delhi (Chandni Chowk)",1.4 km from downtown,42.0,USD
3,India,Delhi,The Leela Ambience Convention Hotel Delhi,5.0,New Delhi,8.3 km from downtown,183.0,USD
4,India,Delhi,Le Meridien New Delhi,5.0,New Delhi,1.8 km from downtown,254.0,USD

In [59]:
df['Currency'].unique()

array(['USD'], dtype=object)

In [61]:
df.drop(columns=['Currency'], inplace=True)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8376 entries, 0 to 8375
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    8376 non-null   object
 1   City/Place                 8376 non-null   object
 2   Hotel Name                 8376 non-null   object
 3   Stars                      6795 non-null   float64
 4   Location                   8376 non-null   object
 5   Distance from Center       8006 non-null   object
 6   Avg Price per Night (USD)  8371 non-null   float64
dtypes: float64(2), object(5)
memory usage: 458.2+ KB

In [63]:
df['Distance from Center'] = df['Distance from Center'].str.extract(r'(\d+\.?\d*)').astype(float)

# Option A: Fill NaNs with median (for modeling)
df['Distance from Center'] = df['Distance from Center'].fillna(df['Distance from Center'].median())

In [64]:
df.head()

,Country,City/Place,Hotel Name,Stars,Location,Distance from Center,Avg Price per Night (USD)
0,India,Delhi,Hotel Royal Palace A Unit Of Broadway Hotel,4.0,"Mahipalpur, New Delhi",12.9,18.0
1,India,Delhi,ibis New Delhi Aerocity - An Accor Brand,4.0,"Aerocity, New Delhi (Aerocity)",13.4,111.0
2,India,Delhi,The Viking - Luxury living steps away from New...,4.0,"Paharganj, New Delhi (Chandni Chowk)",1.4,42.0
3,India,Delhi,The Leela Ambience Convention Hotel Delhi,5.0,New Delhi,8.3,183.0
4,India,Delhi,Le Meridien New Delhi,5.0,New Delhi,1.8,254.0

In [65]:
df['Stars'] = df['Stars'].fillna(-1)

In [66]:
print(df[['Stars', 'Distance from Center']].isnull().sum())
print(df[['Stars', 'Distance from Center']].head())

Stars                   0
Distance from Center    0
dtype: int64
   Stars  Distance from Center
0    4.0                  12.9
1    4.0                  13.4
2    4.0                   1.4
3    5.0                   8.3
4    5.0                   1.8

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8376 entries, 0 to 8375
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    8376 non-null   object
 1   City/Place                 8376 non-null   object
 2   Hotel Name                 8376 non-null   object
 3   Stars                      8376 non-null   float64
 4   Location                   8376 non-null   object
 5   Distance from Center       8376 non-null   float64
 6   Avg Price per Night (USD)  8371 non-null   float64
dtypes: float64(3), object(4)
memory usage: 458.2+ KB

In [68]:
# Step 1: Define group-based imputation function
def fill_price_by_city_and_star(df):
    # Create a grouped median for (City, Stars)
    grouped_medians = df.groupby(['City/Place', 'Stars'])['Avg Price per Night (USD)'].transform('median')
    
    # Fill missing price with the grouped median
    df['Avg Price per Night (USD)'] = df['Avg Price per Night (USD)'].fillna(grouped_medians)
    
    # Optional backup fill: if some still missing, use city median
    df['Avg Price per Night (USD)'] = df['Avg Price per Night (USD)'].fillna(
        df.groupby('City/Place')['Avg Price per Night (USD)'].transform('median')
    )
    
    return df

# Step 2: Apply
df = fill_price_by_city_and_star(df)

In [69]:
print(df['Avg Price per Night (USD)'].isnull().sum())  # should be 0

0

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8376 entries, 0 to 8375
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    8376 non-null   object
 1   City/Place                 8376 non-null   object
 2   Hotel Name                 8376 non-null   object
 3   Stars                      8376 non-null   float64
 4   Location                   8376 non-null   object
 5   Distance from Center       8376 non-null   float64
 6   Avg Price per Night (USD)  8376 non-null   float64
 7   Log_Price                  8376 non-null   float64
dtypes: float64(4), object(4)
memory usage: 523.6+ KB

In [130]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from catboost import CatBoostRegressor, Pool
import numpy as np

In [137]:
def compute_vap(row, alpha=1.2, beta=0.8, epsilon=0.1):
    stars = row['Stars']
    distance = row['Distance from Center']
    price = row['Avg Price per Night (USD)']
    
    if stars <= 0 or distance < 0:
        return price  # skip adjustment if values are invalid
    
    return price * (stars ** alpha) / ((distance + epsilon) ** beta)

df['vap'] = df.apply(compute_vap, axis=1)

In [138]:
def reconstruct_price(pred_vap, stars, distance, alpha=1.2, beta=1.5, epsilon=0.3):
    if stars == -1 or distance == -1:
        return pred_vap  # fallback
    return pred_vap * ((distance + epsilon) ** beta) / (stars ** alpha)

In [147]:
# Define features and target
features = ['Country', 'City/Place', 'Location', 'Stars', 'Distance from Center']
target = 'Avg Price per Night (USD)'  # or 'Log_Price' if you model logs

In [171]:
from numpy import log1p, expm1

X = df[features]
y = df[target]
y=log1p(y)
y=np.sqrt(y)

In [172]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [173]:

# Categorical columns
cat_features = ['Country', 'City/Place', 'Location']

# Initialize and train CatBoost
model = CatBoostRegressor(verbose=100)
model.fit(X_train, y_train, cat_features=cat_features)

Learning rate set to 0.054737
0:	learn: 0.1697207	total: 77.4ms	remaining: 1m 17s
100:	learn: 0.1254990	total: 4.11s	remaining: 36.6s
200:	learn: 0.1208230	total: 7.93s	remaining: 31.5s
300:	learn: 0.1167325	total: 11.7s	remaining: 27.1s
400:	learn: 0.1131516	total: 15.6s	remaining: 23.3s
500:	learn: 0.1101400	total: 19.4s	remaining: 19.3s
600:	learn: 0.1073990	total: 23.1s	remaining: 15.3s
700:	learn: 0.1051231	total: 26.8s	remaining: 11.4s
800:	learn: 0.1028975	total: 31.3s	remaining: 7.78s
900:	learn: 0.1009270	total: 36.9s	remaining: 4.05s
999:	learn: 0.0990371	total: 41.7s	remaining: 0us

In [174]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Predictions (log scale)
y_pred = model.predict(X_test)

# Convert back to original scale
y_test_actual = np.expm1(y_test)
y_pred_actual = np.expm1(y_pred)
y_test_actual = (y_test_actual)*(y_test_actual)
y_pred_actual = (y_pred_actual)*(y_pred_actual)

# Evaluate
mae = mean_absolute_error(y_test_actual, y_pred_actual)
rmse = mean_squared_error(y_test_actual, y_pred_actual, squared=False)
r2 = r2_score(y_test_actual, y_pred_actual)

print(f"MAE: {mae:.2f}")
print(f"RMSE: {rmse:.2f}")
print(f"R²: {r2:.4f}")

MAE: 13.22
RMSE: 19.16
R²: 0.5125

c:\Users\akars\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [175]:
import pandas as pd

sample_data = pd.DataFrame([
    {
        'Country': 'India',
        'City/Place': 'Mumbai',
        'Location': 'Andheri',
        'Stars': 4,
        'Distance from Center': 3.2
    },
    {
        'Country': 'India',
        'City/Place': 'Delhi',
        'Location': 'Connaught Place',
        'Stars': 5,
        'Distance from Center': 1.0
    },
    {
        'Country': 'India',
        'City/Place': 'Jaipur',
        'Location': 'Bani Park',
        'Stars': 3,
        'Distance from Center': 2.5
    },
    {
        'Country': 'India',
        'City/Place': 'Bangalore',
        'Location': 'Whitefield',
        'Stars': 4,
        'Distance from Center': 10.0
    },
    {
        'Country': 'India',
        'City/Place': 'Chennai',
        'Location': 'T Nagar',
        'Stars': 2,
        'Distance from Center': 4.8
    }
])

In [176]:
y_pred_test = model.predict(sample_data)
y_pred_actual = np.expm1(y_pred_test)
y_pred_actual = y_pred_actual * y_pred_actual  # Inverse of sqrt(log1p(price))

print(y_pred_actual)

[57.64832476 81.00108163 43.93644746 57.21748692 41.89473753]

In [177]:
sample_data = pd.DataFrame([
    {'Country': 'India', 'City/Place': 'Delhi', 'Location': 'Connaught Place', 'Stars': 4.0, 'Distance from Center': 2.5},
    {'Country': 'USA', 'City/Place': 'New York', 'Location': 'Manhattan', 'Stars': 5.0, 'Distance from Center': 1.0},
    {'Country': 'France', 'City/Place': 'Paris', 'Location': 'Champs-Élysées', 'Stars': 3.0, 'Distance from Center': 3.2},
    {'Country': 'Japan', 'City/Place': 'Tokyo', 'Location': 'Shinjuku', 'Stars': 4.5, 'Distance from Center': 1.5},
    {'Country': 'Brazil', 'City/Place': 'Rio de Janeiro', 'Location': 'Copacabana', 'Stars': 3.5, 'Distance from Center': 2.0}
])

In [178]:
# Predict on new samples
log_preds = model.predict(sample_data)

# Inverse transform (undo sqrt and log1p)
pred_prices = (np.expm1(log_preds))**2
print(pred_prices)

[56.22650376 99.78418126 83.34945262 71.68764752 64.58960136]

In [179]:
# Save as pickle (useful for Python apps)
import joblib
joblib.dump(model, "hotel_price_model.pkl")

['hotel_price_model.pkl']